body {
    margin: 0;
    padding: 0;
}
.main-div {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0px;
    
}

.toasty-left {
    float: left;
    margin-left: -160;
}

.toasty-right {
    float: right;
    margin-right:-150px;
}

.hidder{
    overflow: hidden;
    position: relative;
}

.instructions {
    border: 1px dashed black;
    width: 1000px;
    height: 150px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px;
}
.code {

    font-size: 50px;

}
.align-center {
    text-align: center;
}
